@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--dark-blue: #102770;
	--dark-green: #094507;
	--ultra-marine: #120a8f;
	--yellow: #ffeba7;
	--gold: #dcbb57;
  --bright-blue: #43fbfd;
  --zima-blue: #5BC2E7;
  --light-gray: #D0C9C0;
}

@font-face {
  font-family: MetropolisExtraLight;
  src: url(./assets/fonts/MetropolisExtraLight.otf);
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: MetropolisMedium;
  src: url(./assets/fonts/MetropolisMedium.otf);
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: NeueRegular;
  src: url(./assets/fonts/NeueRegular.otf);
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: NeueLight;
  src: url(./assets/fonts/NeueLight.otf);
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: AvenirBook;
  src: url(./assets/fonts/AvenirBook.otf);
  font-style: normal;
  font-display: fallback;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(84, 84, 84) #ffffff;
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(84, 84, 84);
  border-radius: 10px;
  border: 3px solid #fff;
}




/* Selection Highlight */
::-moz-selection { /* Code for Firefox */
  color: #111;
  background: var(--bright-blue);
}

::selection {
  color: #111;
  background: var(--bright-blue);
}

/* Cursor */
/* * {
  cursor: none;
}
*/

.chatBotButton {
  position: fixed;
  z-index: 999;
  background-color: white;
  border-radius: 50%;
  -o-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -moz-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
}

.unselected {
  bottom: 20px;
  right: 20px;
  height: 90px;
  width: 90px;
  background-image: url('./assets/chatbot.svg');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 2px solid #444;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.selected {
  bottom: 550px;
  right: 20px;
  height: 30px;
  width: 30px;
  background-image: url('./assets/close.svg');
}

.chatBotButton:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.chatBot {
  position: fixed;
  right: 15px;
  bottom: 15px;
  margin-left: 15px;
  z-index: 1000;
}



.hidden {
  overflow: hidden;
}
.titlePage .hidden {
  overflow: hidden;
}

.hide {
  visibility: hidden;
}


.skillScroll {
  position: relative;
  height: 300vh;
}






body {
  margin: 0;
  overflow-x:hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.signika {
  font-family: 'Signika', sans-serif;
}

.largeFontSize {
  font-size: 10vw;
  font-weight: 550;
  font-family: MetropolisExtraLight;
  /* font-family: 'Signika', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* color: var(--yellow); */
}

@media screen and (max-width: 700px) {
  .largeFontSize {
    font-size: 13vw;
    font-weight: 400;
  }
}

.mediumFontSize {
  font-size: 3vw;
  font-weight: 500;
  font-family: MetropolisExtraLight;
}

@media screen and (max-width: 700px) {
  .mediumFontSize {
    font-size: 25px;
    font-weight: 300;
  }
}

.smallFontSize {
  font-size: 2vw;
  font-weight: 500;
  font-family: MetropolisExtraLight;
}

@media screen and (max-width: 700px) {
  .smallFontSize {
    font-size: 15px;
    font-weight: 300;
  }
}



.cover {
  position: fixed;
  top: -30vh;
  width: 300vw;
  height: 150vh;
  border-radius: 50%;
  margin-left: -100vw;
  background-color: black;
  z-index: 10000;
}

.loaderContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}


.loader {
  height: 50px;
  aspect-ratio: 2;
  border: 10px solid #000;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000 ) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000 ) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000 ) center/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000 ) right/20px 20px,
    #000;
  background-repeat:no-repeat;
  filter: blur(4px) contrast(10);
  -webkit-animation: loaderAnimation 0.8s ease-in-out infinite;
  -moz-animation: loaderAnimation 0.8s ease-in-out infinite;
  -o-animation: loaderAnimation 0.8s ease-in-out infinite;
  animation: loaderAnimation 0.8s ease-in-out infinite;
}
@-webkit-keyframes loaderAnimation {
  100%  {background-position:right,left,center,right}
}
@-moz-keyframes loaderAnimation {
  100%  {background-position:right,left,center,right}
}
@-o-keyframes loaderAnimation {
  100%  {background-position:right,left,center,right}
}
@keyframes loaderAnimation {
  100%  {background-position:right,left,center,right}
}

.line {
  position: relative;
  overflow: hidden;
}

.panel {
  font-size: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal-panel {
  font-size: 60px;
  height: 100vh;
  position: relative;
}

/* Title Page */
.titlePage {
  text-align: center;
  padding: 0;
  /* background-color: #f1f2f6; */
}


/* Title Page */
.titlePageTitle {
  padding: 0;
  margin: 0;
}

.titlePage .titlePageTitle {
  overflow: hidden;
}

.titlePage span {
  display: block;
}


/* About Page */
.aboutPage {
  text-align: center;
  padding: 0;
  height: 400vh;
}

.bottomParagraph {
  margin: 15px;
}

.skillPage {
  height: 100vh;
}


.skillTitleContainer {
  display: block;
  position: absolute;
  left: 0;
  width: 20vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.skillTitle {
  -webkit-transform: rotate(-90deg) translateX(-630px);
  transform: rotate(-90deg) translateX(-630px);
  margin: 0;
  font-size: 290px;
  color: #A8A8A8;
  text-decoration: underline;
  font-weight: 400;
}


/* Resume Page */
.resumePage {
  position: relative;
}

.resumePage .resumeTitle {
  z-index: -20;
  position: absolute;
  font-size: 20vw;
  margin: 0;
  width: 100%;
  text-align: center;
  /* color: rgb(221, 221, 221); */
  color: #e4e6ed;
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.resumeButton {
	display: inline-block; 
	padding-top: 80px; 
  padding-bottom: 80px; 
  padding-left: 120px; 
  padding-right: 120px; 
  border: 1px solid black;
  letter-spacing: 0px;
  -o-transition-property: color background-color letter-spacing;
  -o-transition-duration: 0.4s;
  -moz-transition-property: color background-color letter-spacing;
  -moz-transition-duration: 0.4s;
  -webkit-transition-property: color background-color letter-spacing;
  -webkit-transition-duration: 0.4s;
  transition-property: color background-color letter-spacing;
  transition-duration: 0.4s;
}

.resumeButton:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  letter-spacing: 3px;
}

.inline-border {
  font-family: NeueLight, sans-serif;
  font-size: 3vw;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 700px) {
  .resumeButton {
    display: inline-block;
    padding: 3vh 15vw;
    border: 2px solid black;
    letter-spacing: 0px;
    -o-transition-property: color background-color;
    -o-transition-duration: 0.4s;
    -moz-transition-property: color background-color;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: color background-color;
    -webkit-transition-duration: 0.4s;
    transition-property: color background-color;
    transition-duration: 0.4s;
  }
  
  .resumeButton:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    letter-spacing: 3px;
  }
  
  .inline-border {
    font-size: 3vw;
  }
}

/* Skills Page */
.skillPageTitle {
  position: absolute;
  font-size: 30vw;
  font-weight: 550;
  font-family: MetropolisMedium;
  z-index: -10;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(244, 244, 244);
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.skillTab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
}

.skillTabTextContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 10vh;
  z-index: 50;
}


.option {
  /* color: #d6d6d6; */
  color: white;
  font-family: MetropolisMedium;
  font-size: 4.5vw;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  padding: 0 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(7%);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-7%);
  }
  100% {
    -webkit-transform: translateX(7%);
  }
}
@-moz-keyframes slideInFromLeft {
  0% {
    -moz-transform: translateX(-7%);
  }
  100% {
    -moz-transform: translateX(7%);
  }
}
@-o-keyframes slideInFromLeft {
  0% {
    -o-transform: translateX(-7%);
  }
  100% {
    -o-transform: translateX(7%);
  }
}

.skillTab .select {
  color: black;
  animation: 1s ease-in-out slideInFromLeft forwards;
  -webkit-animation: 1s ease-in-out slideInFromLeft forwards;
  -moz-animation: 1s ease-in-out slideInFromLeft forwards;
  -o-animation: 1s ease-in-out slideInFromLeft forwards;
}

.transform {
  opacity: 0;
  transform: translateY(5%);
}

.double-left {
  position: absolute;
  height: 100%;
  width: 25%;
  right: 25%;
  top: 0%;
  text-align: center;
  padding: auto;
}
.double-right {
  position: absolute;
  height: 100%;
  width: 25%;
  right: 0%;
  top: 0%;
  text-align: center;
  padding: auto;
}

.middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 50px;
}

.center {
  margin: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skillFont {
  font-size: 2.5vw;
  font-family: MetropolisExtraLight;
}

.single-column {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
}

.skillTextContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px;
}

.titleContainer {
  position: relative;
  height: 80vh;
  width: 100vw;
}

div .bold {
  font-weight: bolder;
}


.descriptionContainer {
  position: absolute;
  height: 60%;
  width: 50%;
  top: 15vh;
  right: 5vw;
}

.descriptionContainer h1 {
  font-size: 2.5vw;
  font-family: MetropolisExtraLight;
}

.educationTitle {
  position: absolute;
  left:0;
  right:0;
  bottom: 0vh;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  margin-top: 2vh;
  font-size: 11vw;
  font-family: MetropolisExtraLight;
  text-align: center;
  background-color: white;
}


.projectPage {
  padding: 0 5vw;
}


.projectContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.project_column {
  flex-basis: 50%;
  padding: 40px; /* Left right margin of project */
}

.project {
  display: block;
  height: 63vw;
  background-color: white;
  margin-bottom: 40px; /* Distance between projects */
  overflow: hidden;
}


.project .projectImage {
  overflow: hidden;
  cursor: pointer;
  -o-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -moz-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  background-color: #A8A8A8;
}

.project .projectImage:hover {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
  transform: scale(0.98);
}

.projectImageSrc:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.projectTitle {
  display: block;
  font-size: 45px;
  font-size: 3vw;
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  margin-bottom: 40px;
  font-family: NeueLight, sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}

.projectImage {
  position: relative;
  height: 80%;
  width: 100%;
}

.projectImageSrc {
  width: 100%;
  height: 100%;
  -o-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -moz-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
  transition: transform 500ms cubic-bezier(0.29, 0, 0.01, 1);
}

.projectDesc {
  position: relative;
  height: 20%;
  width: 100%;
  padding: 20px 0;
  color: black;
  text-decoration: none;
}

.projectDesc h1 {
  font-family: NeueLight, sans-serif;
  font-size: 35px;
  color: black;
  text-decoration: none;
}

.projectDesc p {
  color: black;
  font-size: 20px;
  font-family: NeueLight, sans-serif;
  text-decoration: none;
}


@media screen and (max-width: 900px) {
  .project_column {
    flex-basis: 100%;
    padding: 0;
  }
  .projectTitle {
    font-size: 7vw;
    width: 100%;
    float: left;   
  }
  .project {
    height: 120vw;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .first-project {
    margin-top: 21vh;
  }
  .project:hover {
    -webkit-transform: scale(0.975);
    -moz-transform: scale(0.975);
    -o-transform: scale(0.975);
    transform: scale(0.975);
  }
  .projectDesc h1 {
    font-size: 26px;
  }
  
  .projectDesc p {
    font-size: 16px;
  }
}


.footer {
  background:#f3f3f3;
  padding:30px 0px;
  font-family: NeueRegular, sans-serif;
  text-align:center;
}
  
.footer .row {
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:black;
  font-size: 1em;
}
  
.footer .row a {
  text-decoration: none;
  color: black;
  -o-transition: ease-in-out color 0.35s;
  -moz-transition: ease-in-out color 0.35s;
  -webkit-transition: ease-in-out color 0.35s;
  transition: ease-in-out color 0.35s;
}
  
.footer .row a:hover {
  color: gray;
}
  
.footer .row ul {
  width: 100%;
}
  
.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}
  
.footer .row .socialIcon {
  margin: 1%;
  height: 25px;
}
  
@media (max-width:720px){
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin:0% 3%;
  }
}

.otherProjectButton {
  position: relative;
  max-width: 200px;
  padding: 5px;
  font-family: NeueLight, sans-serif;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 0 35vw;
  text-align: center;
}

.project_column .allproject-container {
  text-decoration: none;
  position: relative;
  display: block;
  height: 100px;
  text-align: center;
  margin-top: 100px;
  font-family: NeueLight, sans-serif;
}

.project_column .all-project-button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  padding: 1rem;
  -o-transition: all 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -moz-transition: all 500ms cubic-bezier(0.29, 0, 0.01, 1);
  -webkit-transition: all 500ms cubic-bezier(0.29, 0, 0.01, 1);
  transition: all 500ms cubic-bezier(0.29, 0, 0.01, 1);
}

.project_column .all-project-button:hover {
  color: white;
  background-color: var(--light-gray);
}